
@charset "utf8";
/*comm*/
body{font:14px/24px \5FAE\8F6F\96C5\9ED1,\5B8B\4F53;*font-family:\5B8B\4F53;background-color:#fff;color:#333;}
body,html{overflow-x:hidden;}
a,body,dd,div,dl,dt,em,form,h1,h2,h3,h4,h5,h6,html,img,input,label,li,ol,p,select,span,ul{margin:0;padding:0}
input{border:none;border:0;outline:none;outline:0}
a{color:#333;text-decoration:none;cursor:pointer;outline:none}
a:hover{text-decoration:none;color:#f60;}
li,ol,ul{list-style:none}
em,i{font-style:normal}
img{border:0}
.cf{*zoom:1}
.cf:after{content:'\20';display:block;height:0;clear:both}
/*com*/
.none{display:none}
.fl{display:inline;float:left;}
.fr{float:right;display:inline}
.ct{text-align:center;}
.pr{position:relative}
.indent{text-indent:-9999px;}
*html{background-image:url(#);background-attachment:fixed}
.ov{overflow:hidden}
/*  */
.conbd{background:url(../images/conbd1-bg.png) no-repeat center top;height: 511px;width: 1000px;margin: 0 auto}
.conbd .connr{position: relative;color: #121211;font-size: 16px;}
.conbd .connr .time{height:30px;line-height: 30px;text-align: center;position: absolute;width: 100%;left: 0;top: 170px; }
.conbd .connr .time em{color: #d97529}
.conbd .connr .pingtu{position: absolute;width: 100%;left: 0;top:245px; }
.conbd .rules{width: 298px;margin:25px 25px 0 0;line-height: 34px;}
.conbd .rules span{color: #5f912a}
.conbd .ptbd{width: 480px;margin: 0 0 0 100px;height: 100px;}
.conbd .tishi{text-align: center;position: absolute;left: 0;top: 498px;width: 100%}
.conbd .tishi em{color: #d97529}
.conbd .ptcon{border: solid 1px #7d7b61;}
.conbd .vvgBox{background:url(../images/pingtu-default.jpg) no-repeat;width: 210px;height: 210px;position: relative}
.conbd .vvgBox ul{width: 210px;height: 210px;}
.conbd .ptck{background:url(../images/pingtu.jpg) no-repeat;width: 210px;height: 210px;border:solid 1px #000000;margin-left: 48px;}
#mask{position: absolute;left: 0;top: 0;width: 210px;height: 210px;background: #fff;opacity:.5;filter:alpha(opacity=50);z-index: 999}
#button{position: absolute;width:134px;height: 41px; background: url(../images/start.png) no-repeat;left:42px;top:158px;cursor: pointer;z-index: 1000 }
.conbd .vvgBox li{position: absolute;cursor: move;width:70px;height:70px;}

.conbd .vvgBox li{background-image: url("../images/pingtu.jpg");}
#mask,#button{display:none;}